h1{
  color:red;
  top-margin: 25px
}
.tuade{
  color:crimson;
  font-family:Arial;
  top-margin: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.noidung{
  color:Aquamarine;
  top-margin:6px;
  font-size: 14px;
  text-transform: none;
}
  
